.page-team-list {
  background-image: url('../images/undraw_hang_out_h9ud.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 210px -40px;
  @include media-breakpoint-up(sm) {
    background-size: 70%;
    background-position: 180% -50px;
  }
  @include media-breakpoint-up(md) {
    background-size: 70%;
    background-position: 150% -60px;
  }
  @include media-breakpoint-up(lg) {
    background-size: 55%;
    background-position: 100% -30px;
  }
  .call {
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),
      0 5px 15px rgba(0, 0, 0, 0.07);
    width: max-content;
    color: $secondary;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-items: center;
    .call-box-top {
      flex: 1 0 auto;
      padding: 10px 10px 0;
      font-weight: bold;
    }
    .call-box-bottom {
      flex: 0 0 auto;
      padding: 10px;
    }
    .call-name {
      font-size: 1.1rem;
      font-weight: bold;
    }
    svg {
      //       fill: lighten($primary, 30%);
      fill: lighten($secondary, 40%);
      position: absolute;
      bottom: -9px;
      right: 0;
      width: 100px;
      height: 100px;
      @include media-breakpoint-up(sm) {
        width: 120px;
        height: 120px;
      }
    }
  }
}
