.team-summary {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  .team-image {
    flex: 0;
    margin-right: 13px;
    img {
      border-radius: 50%;
      object-fit: cover;
      width: 100px;
      height: 100px;
    }
  }
  .team-meta {
    flex: 1;
    h2 {
      margin: 0;
      font-family: $font-family-heading;
      font-size: larger;
    }
    p {
      margin: 0;
      font-weight: bold;
      color: $secondary;
      font-size: 1.2rem;
      // line-height: normal;
    }
    a {
      // line-height: 10%;
    }
  }
  .team-content {
    flex: 1 0 100%;
  }
  .team-email {
    color: $secondary;
  }
}
