.page-contact {
    background-image: url('../images/undraw_contact_us_15o2.svg');
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: 99px 40px;
    @include media-breakpoint-up(sm) {
      background-size: 70%;
      background-position: 200px -40px;
    }
    @include media-breakpoint-up(md) {
      background-size: 70%;
      background-position: 300px -40px;
    }
    @include media-breakpoint-up(lg) {
      background-size: 50%;
      background-position: 110% 30px;
    }
  }
  