.page-clients-list {
  background-image: url("../images/undraw_interview_rmcf.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 100px -40px;
  @include media-breakpoint-up(sm) {
    background-size: 80%;
    background-position: 220px -40px;
  }
  @include media-breakpoint-up(md) {
    background-size: 70%;
    background-position: 110% -80px;
  }
  @include media-breakpoint-up(lg) {
    background-size: 50%;
    background-position: 100% -60px;
  }
  @include media-breakpoint-up(xl) {
    background-size: 43%;
    background-position: 95% -65px;
  }
}
